.lc-industry-cards {
    .splide__list {
        display: flex;
        align-items: stretch;
    }
    .splide__slide {
        display: flex;
        height: 100%;
    }

    .lc-industry-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        aspect-ratio: 4 / 3;
        border-radius: var(--border-lg);
        overflow: hidden;
        position: relative;
        isolation: isolate;
        box-shadow: var(--shadow-lg);
        transition:
            transform var(--transition),
            box-shadow var(--transition);
        &:hover {
            box-shadow: var(--shadow-sm);
            transform: translateY(2px);
            .lc-industry-card__title {
                color: var(--col-green-400);
            }
        }
        &__image {
            position: absolute;
            aspect-ratio: 4 / 3;
            object-fit: cover;
            width: 100%;
            height: 100%;
            inset: 0;
            z-index: -1;
        }
        &__overlay {
            background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 40%);
            position: absolute;
            inset: 0;
            z-index: 1;
        }
        &__title {
            font-size: 1.4rem;
            font-weight: var(--fw-700);
            color: white;
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            z-index: 2;
            transition: color var(--transition);
        }
    }
}

.lc-industry-cards-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    .lc-industry-card {
        flex: 1 1 calc(33.3% - 1.2rem); // 5 cards per row, accounting for gap
        max-width: calc(33.3% - 1.2rem);
        min-width: 240px;
        box-sizing: border-box;
        margin-bottom: 1.5rem;
    }
}
