/* Colour Classes */

.has-green-100-color,
.text--green-100 {
    color: var(--col-green-100);
}
.has-green-100-background-color,
.bg--green-100 {
    background-color: var(--col-green-100);
}
.has-green-400-color,
.text--green-400 {
    color: var(--col-green-400);
}
.has-green-400-background-color,
.bg--green-400 {
    background-color: var(--col-green-400);
}
.has-green-700-color,
.text--green-700 {
    color: var(--col-green-700);
}
.has-green-700-background-color,
.bg--green-700 {
    background-color: var(--col-green-700);
}
.has-green-900-color,
.text--green-900 {
    color: var(--col-green-900);
}
.has-green-900-background-color,
.bg--green-900 {
    background-color: var(--col-green-900);
}
.has-grey-100-color,
.text--grey-100 {
    color: var(--col-grey-100);
}
.has-grey-100-background-color,
.bg--grey-100 {
    background-color: var(--col-grey-100);
}
.has-grey-400-color,
.text--grey-400 {
    color: var(--col-grey-400);
}
.has-grey-400-background-color,
.bg--grey-400 {
    background-color: var(--col-grey-400);
}
.has-coral-400-color,
.text--coral-400 {
    color: var(--col-coral-400);
}
.has-coral-400-background-color,
.bg--coral-400 {
    background-color: var(--col-coral-400);
}
