.footer {
    // background-color: var(--col-green-900);
    background-color: white;

    color: var(--col-green-900);
    font-size: var(--fs-300);

    .footer__logo {
        width: 200px;
        max-width: 100%;
        margin-bottom: 1rem;
        // filter: brightness(0) invert(1); // If using a dark-mode-safe SVG
    }
    .footer__brcgs {
        width: 120px;
        max-width: 100%;
        margin-bottom: 1rem;
        // filter: brightness(0) invert(1); // If using a dark-mode-safe SVG
    }

    .social-icons {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        &__prefix {
            font-size: var(--fs-300);
            font-weight: var(--fw-600);
            text-transform: uppercase;
        }
    }

    a {
        font-weight: var(--fw-500);
        color: var(--col-green-900);
        text-decoration: none;
        transition: color var(--transition);
        &:hover {
            color: var(--col-coral-400);
        }
    }

    .footer__menu {
        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;

            li {
                margin-bottom: 0.25rem;
            }
        }
    }

    .footer-title {
        font-family: var(--ff-heading);
        margin-bottom: 1rem;
    }

    .colophon {
        // border-top: 1px solid hsl(0 0 0% / 0.4);
        margin-top: 2rem;
        font-size: var(--fs-200);
        color: var(--col-grey-600);

        a {
            color: var(--col-grey-600);
            transition: color var(--transition);

            &:hover {
                color: var(--col-coral-400);
            }
        }

        .lc {
            font-weight: var(--fw-600);
            letter-spacing: 0.02em;
        }
    }

    @media (max-width: 767.98px) {
        .footer__contact,
        .footer__address {
            text-align: center;
        }

        .colophon {
            text-align: center;

            > div + div {
                margin-top: 0.5rem;
            }
        }
    }
}
